.container {
    align-items: flex-end;
    margin: 10px;
    background-color: greenyellow;
}

.avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}


.name {
    font-size: 20px;
    font-weight: bold;
}

.message {
    min-width: 150px;
    max-width: 300px;
    word-wrap: break-word;
}

.time {
    display: flex;
    justify-content: flex-end;
}